<div class="tool-box">
  <div class="tool-box__icon" (click)="showToolBox = !showToolBox">
    <i class="fas fa-ellipsis-v icon-disable"></i>
  </div>

  <div class="tool-box__content-box" *ngIf="showToolBox">
    <div class="tool-box__content-box__option">
      <div class="tool-box__content-box__option__icon">
        <i class="fas fa-eye icon-active"></i>
      </div>
      <div class="tool-box__content-box__option__name">Ver tarea</div>
    </div>

    <div class="tool-box__content-box__option">
      <div class="tool-box__content-box__option__icon">
        <i class="fas fa-trash icon-disable"></i>
      </div>
      <div class="tool-box__content-box__option__name tool-box__content-box__option__name--disable">Borrar</div>
    </div>
  </div>
</div>
