/* You can add global styles to this file, and also import other style files */
@import 'scss/fonts';
@import 'scss/colors';
@import 'scss/mixins';

* {
  margin: 0;
}

.todo-divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid $divider-primary;
}

.icon-disable {
  color: $disable;
}

.icon-active {
  color: $icons-active;
}
