
$white: #FFFFFF;
$black: #000000;
$gray: #CCCCCC;
$divider-primary: #F0F3FF;
$background-primary: #F3F5FA;
$icons-active: #425195;
$title-primary-1: #010C3B;
$title-primary-2: #425195;
$title-primary-3: #333D69;
$title-primary-4: #425195;
$active: #2DC09D;
$finished: #DC3646;
$disable: #B9BCC4;
$btn-primary: #425195;
