<div class="todo-card">
  <div class="todo-card__status">Activa</div>
  <div class="todo-divider"></div>
  <div class="todo-card__author">
    <div class="todo-card__author__avatar"></div>
    <div class="todo-card__author__name">Juanita Pérez</div>
  </div>

  <div class="todo-card__info">
    <div class="todo-card__info__header">
      <div class="todo-card__info__header__title">Título de la tarea</div>
      <div class="todo-card__info__header__options">
        <app-tool-box></app-tool-box>
      </div>
    </div>
    <div class="todo-card__info__note">
      When you enter into any new area of science, you almost always find yourself with a baffling new language.
    </div>
  </div>

</div>
