@import '../../../scss/colors';
@import '../../../scss/mixins';

.todo-card {
  width: calc(100% - 64px);
  min-height: 150px;
  background-color: $white;
  padding: 16px;
  margin: 6px 0;
  border-radius: 8px;

  &__status {
    @include gilroy-bold-font($active, 16px);
    font-weight: 700;
    margin-bottom: 10px;
    &--finished {
      @include gilroy-bold-font($finished, 16px);
    }
  }
  &__author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 16px 0;

    &__avatar, img {
      width: 24px;
      height: 24px;
      background-color: $gray;
      border-radius: 50%;
    }

    &__name {
      margin-left: 4px;
      @include gilroy-medium-font($title-primary-1, 12px);
      font-weight: 500;
    }
  }

  &__info {
    padding-left: 14px;
    border-left: 2px solid $active;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__title {
        @include gilroy-bold-font($title-primary-3, 16px);
        font-weight: 700;
        margin-bottom: 8px;
      }
      &__options {
        cursor: pointer;
      }
    }
    &__note {
      @include gilroy-bold-font($title-primary-3, 13px);
      font-weight: 600;
      line-height: 1.8;
      opacity: 0.7;
    }
  }
}
